<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'Home' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt="" /> -->
    <ion-card-header>
      <ion-card-title id="mainTitle">
        <img align="middle" src="/assets/images/shapes.svg" alt="shapes.svg">
        &nbsp;
        <h4>QMeat Online</h4>
        <!-- <p>Your trust for a fresh meat</p> -->
      </ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content> -->
  </ion-card>

  <ion-grid>
    <ion-row class="text-center decoratedTitle">
      <ion-col>
        <h1>{{'Featured products' | translate}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <div class="slide">
              <img src="/assets/images/lamb.svg" alt="" />
              <h2>Lamb</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img src="/assets/images/meatloaf.svg" alt="" />
              <h2>Meatloaf</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img src="/assets/images/sirloin-steak.svg" alt="" />
              <h2>Sirloin Steak</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img src="/assets/images/sausages.svg" alt="" />
              <h2>Sausages</h2>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/images/store.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{'Store'|translate}}</h2>
        <p>{{'StoreHomePara'|translate}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/images/profile.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{'Profile'|translate}}</h2>
        <p>{{'profileHomePara'|translate}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/images/settings.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>Settings</h2>
        <!-- <p>Edit your information, addresses and belling methods you want</p> -->
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>
  </ion-list>

  <p class="text-center">All right reserved &copy; 2019 QMeat</p>
</ion-content>